<h1>index.erb</h1> <br  />

<strong>Name:</strong> <%= @animal.name %> <br  />
<strong>Has fur?</strong> <%= @animal.fur %><br  />
<strong>How many legs?</strong> <%= @animal.legs %><br  />
<strong>What type of animal?</strong> <%= @animal.kind %>